
a{
    text-decoration: none;
}




/* Header navbar */

.header-nav{
    background-color: #FFF;
}

.header-nav a{
    text-decoration: none;
    color: black;
    font-size: small;
    font-weight: 700;
}

#logo{
    cursor: default;
    color: #3F3F3F;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-size: large;
    
}

/* Who is me box */

.who-is-me{
    background-color: #FFB800;
    color: #FFFFFF;
    z-index: -1;
}

#who-text{
    opacity: 0.9;
}

#my-projects{
    padding: 10px 50px;
    background-color: #FFFDFD;
    color: #FFB800;
    border-radius: 30px;
    font-weight: 700;
}

#my-projects:hover{
    background-color: #000000;
    color: #FFFFFF;  
}


#download{
    padding: 10px 50px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 30px;
    font-weight: 700;
}


#download:hover{
    background-color: #FFFDFD;
    color: #FFB800;
}

.social img{
    width: 40px;
}

#head-img{
    height: 250px;
}

